

.light_gray {
    background-color: rgb(238, 236, 236)
}

.light_gray_text {
    color: rgb(238, 236, 236)
}


.dark_gray {
    background: rgb(62, 62, 63);
}

.PrimaryBackground {
   //@at-root @extend .pink, .lighten-1 ;
    // background: #21304e;
    // background: #03252e;
     background: rgb(238, 236, 236)


}

.PrimaryText {
    //color: #ec407a;
    color: aqua;

}

